#login-border{
	width: 30%;
	height: 160px;
	border-radius: 5px;
	background-color: rgb(204, 204, 204);
	border-color: white;
	margin-left:20%;
	margin-top: 18%;
}

#login{
	margin-left:2%;
	margin-top: 12%;
}